/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500|Montserrat:400,700|Handlee|Oswald:400,300,700");
@font-face {
    font-family: 'HelveticaNeue-CondensedBold';
    src:font-url('HelveticaNeue-CondensedBold.ttf');
    src:font-url('HelveticaNeue-CondensedBold.ttf') format('truetype');

}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src:font-url('HelveticaNeue-Light.ttf');
    src:font-url('HelveticaNeue-Light.ttf') format('truetype');

}

@font-face {
    font-family: 'HelveticaNeue-Medium';
    src:font-url('HelveticaNeue-Medium.ttf');
    src:font-url('HelveticaNeue-Medium.ttf') format('truetype');

}

$base-font: "HelveticaNeue-Light", "Helvetica", "sans-serif";
$header-font: "HelveticaNeue-CondensedBold", "Helvetica", "sans-serif";
$subheader-font: "HelveticaNeue-Medium", "Helvetica", "sans-serif";


 // Local fonts (uncomment following lines)
 // @font-face {
 //   font-family: "Font Name";
 //   src: font-url('FontFile.eot');
 //   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
 //        font-url('FontFile.woff') format('woff'),
 //        font-url('FontFile.ttf') format('truetype')
 // }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #0083ED;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
