/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

// categories bar
.categories-bar{
  background-color: white;
  height: 40px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-bar li{
  display: inline;
}

.categories-bar a{
  color: #232323;
  transition: all 300ms ease;
}

.categories-bar a:hover{
  color: $brand-color;
  text-decoration: none;
}
// end categories bar

// banner
.banner-home{
  width: 100%;
  height: 60vh;
  background: url('http://unsplash.it/1920/1117');
  display: flex;
  justify-content: center;
  align-items: center;
}
// end banner
