

/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
// Navbar white wrapper
.categories-white-wrapper{
  background: #232323;
  height: 50px;
  margin-top: 1px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
}

// categories bar
.categories-bar{
  background-color: #232323;
  height: 50px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.categories-bar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.categories-bar li{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.categories-bar a{
  color: white;
  transition: all 300ms ease;
}

.categories-bar a:hover{
  color: #F8F8F8;
  text-decoration: none;
}
// end categories bar

// banner
.banner-home{
  background: linear-gradient(to right, rgba(255,255,255,0.6), rgba(0,0,0,0)), image-url("banner.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
}

.banner-home h1 {
 font-family: 'Yanone Kaffeesatz', sans-serif;
 font-size: 50px;
 margin: 0;
 padding: 0;
}

.banner-home p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0;
}

.banner-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  border: 2px solid black;
  color: #232323;
}

.banner-button:hover {
  text-decoration: none;
  background: #232323;
  color: white;
}
// end banner


