/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.container-categories{
  list-style-type: none;
  background-color: white;
  height: 40px;


}

.container-categories li{
  line-height: 40px;
  display: inline;
}

.container-categories a{
  padding: 0px 20px;
  padding-bottom: 9px;
  color: black;
  border-bottom: 0px solid white;
  transition: all 300ms ease;
}

.container-categories a:hover{
  border-bottom: 1px solid $brand-color;
  color: $brand-color;
  text-decoration: none;
}

.banner-container{
  width: 100%;
  height: 50vh;
  background: url('http://unsplash.it/1000/1000');
  background-size: cover;
}

.banner-content{
padding: 50px;
}

.salebutton{
  color: black;
  padding: 5px 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  transition: 0.3s;
}

.salebutton:hover{
  padding: 10px 20px;
  color: black;
  text-decoration: none;

}
