.productShow-wrapper{
  background-color: white;
  // width: 150vh;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 4px 6px -6px #222;
  // display: flex;
  // position: relative;
}

.pimage{
  display: flex;
  padding-top: 20px;
}

.positionText{
  display:flex;
  justify-content: space-around;
  align-items:center;
  flex-direction: column;
  height: 500px;
  background-color: white;
  padding-top: 20px;
}


.positionReview{
  border-top: solid;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
// .positionText{
//   position: absolute;
//   right:30px;
// }

.product-image {
  margin: 0 auto;
  width: 500px;
}


.wrapper-white{
  background-color: white;
}

