<div class="col-xs-12 no-gutter">

  <div id="footer">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 text-center footer-icons">
          <ul class="list-inline">
            <li>Follow us on &nbsp; </li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/salesquare/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/shopsalesquare" target="_blank"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>

        <div class="col-xs-12 text-center footer-pages">
          <ul class="list-inline">
            <li><a href=""><p>About</p></a></li>
            <li><a href=""><p>FAQ</p></a></li>
            <li><a href=""><p>Care</p></a></li>
            <li><a href=""><p>Merchants</p></a></li>
            <li><a href=""><p>Contact</p></a></li>
          </ul>
        </div>

        <div class="col-xs-12 text-center footer-terms">
          <ul class="list-inline">
            <li><a href=""><p>©2016 Salesquare</p></a></li>
            <li><p>|</p></a></li>
            <li><a href=""><p>Terms</p></a></li>
            <li><p>|</p></a></li>
            <li><a href=""><p>Privacy Policy</p></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>
