<div id="footer">
<<<<<<< HEAD
  <div class="container-fluid">
=======
  <div class="container clear-top">
>>>>>>> 36b11fbe4670e8e90405e05b8ea60f4c8ea1298a
    <div class="row">

      <div class="col-xs-12 text-center">
        <ul class="list-inline">
          <li>Follow us on:</li>
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>

      <div class="col-xs-12 text-center footer-links">
        <ul class="list-inline">
          <li><a href=""><p>About</p></a></li>
          <li><p>|</p></a></li>
          <li><a href=""><p>Customer Care</p></a></li>
          <li><p>|</p></a></li>
          <li><a href=""><p>Contact us</i></p></a></li>
        </ul>
      </div>

      <div class="col-xs-12 text-center">
        <p>©2016 Salesquare | Terms | Privacy Policy</p>
      </div>

    </div>
  </div>
</div>
<!-- <footer class="footer"></footer> -->
