<%= render 'shared/catbar' %>

<div class="col-xs-12 no-gutter">

  <!-- banner -->
  <div class="col-xs-12 col-md-12 col-lg-10 col-lg-offset-1 text-center no-gutter">
    <div class="banner-home">
      <div class="container">
        <div class="row">

          <h1>WELCOME TO SALESQUARE</h1>
          <p>Discover the latest Fashion Sales</p>
          <%= link_to "Show Me", products_path, class: "banner-button" %>

        </div>
      </div>
    </div>
  </div>
  <!-- end banner -->

</div>

