
<!-- categories bar -->

<div class="hidden-sm hidden-xs">
<div class="container-categories">
  <div class="text-center">
  <li><a href="">Women</a></li>
    <li><a href="">Shoes</a></li>
    <li><a href="">Bags</a></li>
    <li><a href="">Men</a></li>
    <li><a href="">Kids</a></li>
    <li><a href="">Dresses</a></li>
    <li><a href="">Coats</a></li>

  </div>
</div>
</div>

<!-- end categires bar -->

<!-- banner -->

<div class="banner-container">
  <div class="banner-content text-center">
    <h1>WELCOME TO SALESQUARE</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <br>
    <a class="salebutton" href="">See it for yourself</a>
  </div>
</div>

<%= cl_image_tag("cnt7frupsizjntdudtpf",
      width: 400, height: 300, crop: :fill) %>
