
<!-- categories bar -->

<div class="hidden-sm hidden-xs">
<div class="container-categories">
  <div class="text-center">
  <li><%= link_to "Women", products_path(category: "women") %></li>
    <li><a href="">Shoes</a></li>
    <li><a href="">Bags</a></li>
    <li><a href="">Men</a></li>
    <li><a href="">Kids</a></li>
    <li><a href="">Dresses</a></li>
    <li><a href="">Coats</a></li>
  </div>
</div>
</div>

<!-- end categires bar -->

<!-- banner -->

<div class="banner-container">
  <div class="banner-content text-center">
    <h1>WELCOME TO SALESQUARE</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <br>
    <a class="salebutton" href="">Show me</a>
  </div>
</div>

<!-- end banner -->

<!-- quick info -->

<div class="wrapper-info text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
      <h2>1</h2>
        <i class="fa fa-money"></i>
        <h2>Want to save money?</h2>
        <p>But still want the best quality?</p>
      </div>
      <div class="col-xs-12 col-md-4">
      <h2>2</h2>
      <i class="fa fa-shopping-bag"></i>
      <h2>Shop 'till you drop</h2>
      <p>You are on the right place!
      Salesquare provides the best deals by comapring the biggest sales.</p>
      </div>
      <div class="col-xs-12 col-md-4">
      <h2>3</h2>
        <i class="fa fa-comments-o"></i>
        <h2>Read some of the reviews</h2>
        <p>And see for yourself!</p>
      </div>
    </div>
  </div>
</div>

<!-- end info -->
