#footer {
  width: 100%;
  height: auto;
  background: #0E2439;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  bottom: 0;
  // box-shadow: 0 4px -6px 0px #222;
}

#footer p {
  padding: 0;
}

#footer ul {
  margin-top: 12px;
  position: relative;
}

.footer-icons i {
  color: #FFFFFF;
  font-size: 1em;
  letter-spacing: 10px;
  transition: color 0.5s ease;
}

.footer-icons i:hover {
  color: $brand-color;
}

.footer-icons ul {
  font-family: Open Sans;
  text-transform: uppercase;
  font-size: 1.1em;
}

.font-icons-bold {
  font-size: 0.9em;
  font-weight: bold;
}

.footer-pages {
  word-spacing: 19px;
}

.footer-pages a {
  color: #FFFFFF;
  font-family: Open Sans;
  text-transform: uppercase;
  font-size: 0.9em;
}

.footer-pages a:hover{
  color: $brand-color;
  text-decoration: none;
}

.footer-terms {
  margin-top: -10px;
}

.footer-terms p {
  font-family: Open Sans;
  font-size: 0.875em;
  color: gray;
}

.footer-terms a:hover{
  text-decoration: none;
}
