.products{
  margin: 0 auto;
  margin-top: 50px;
}



.productshow-wrapper{
  background-color: white;
  box-shadow: 0px 0px 6px -2px rgba(138,138,138,1);
  max-width: 100%;
  margin: 5px auto;
  overflow: hidden;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 10px;
  padding: 5px;
  transition: all 0.3s
}
  .productshow-wrapper:hover{
    transform: scale(1.03);
}



.pdescription{
  height: 35px;
  overflow: auto;
}

hr{
  color: grey;
  height: 2px;
  background-color: grey;
  margin: 3px auto;
  width: 50%;
}

.pname h3{
  font-size: 16px;
  margin: 3px;
  color: black;
}

.showproduct{

  width: 100%;
  height: 100%;
}

.showproduct:hover{
  text-decoration: none;

}


.showproduct{
  color: $brand-color;
  width: 100%;
  height: 100%;
}

.showproduct:hover{
  text-decoration: none;
  color: $brand-color;

}

.editproduct{
  color: $brand-color;
}

.deleteproduct{
  color: $brand-color;
}

.editproduct:hover{
  text-decoration: none;
}

.deleteproduct:hover{
  text-decoration: none;
}

.white{
  background-color: #f8f8f8;
  }

  .paddingfix{
    padding-left: 5px;
    padding-right: 5px;
  }
.pimage{
height: 200px;
background-size: cover;
}
