.products{
  margin: 0 auto;

  // display: flex;
  // justify-content: space around;
  // overflow: none;
}


.products-wrapper{
  background-color: white;
  box-shadow: 0 4px 6px -6px #222;
  max-width: 300px;
  margin: 10px auto;
  overflow: hidden;
}

.pimage{
  max-width: 100%;
  padding-top: 0px;
}

.pdescription{
  height: 35px;
  overflow: auto;
}

hr{
  margin: 3px;
}

.pname h3{
  margin: 3px;
}

.showproduct{
  color: white;
  width: 100%;
  height: 100%;
}

.showproduct:hover{
  text-decoration: none;
  color: white;
}


.pcatlink{
  padding: 10px;
  margin: 0;
  background-color: $brand-color;
}

.showproduct{
  color: white;
  width: 100%;
  height: 100%;
}

.showproduct:hover{
  text-decoration: none;
  color: white;
}

.editproduct{
  color: white;
}

.deleteproduct{
  color: white;
}

.editproduct:hover{
  text-decoration: none;
  color: white;
}

.deleteproduct:hover{
  text-decoration: none;
  color: white;
}


