.products{
  margin: 0 auto;
  // display: flex;
  // justify-content: space around;
  // overflow: none;
}


.products-wrapper{
  background-color: white;
  padding-bottom: 10px;
  box-shadow: 0 4px 6px -6px #222;
  max-width: 300px;
  margin: 10px auto;
}

.pimage{
  max-width: 100%;
}

.pdescription{
  height: 35px;
  overflow: auto;
}

hr{
  margin: 3px;
}

.pname h3{
  margin: 3px;
}

.showproduct{
  color: black;

}

.showproduct:hover{
  color: $brand-color;
  text-decoration: none;
  border-bottom: 1px solid $brand-color;
}

.pcatlink{
  padding: 5px;
}

