.login-wrapper{
  background-color: white;
  width: 100vh;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 4px 6px -6px #222;
}

.salelogin{
  background-color: white;
}

//form input styling

.email{
  box-shadow: none;
  border: 0px;
}
.email:focus{
  box-shadow: none;
  border: 0px;
}

.password{
  box-shadow: none;
  border: 0px;
}
.password:focus{
  box-shadow: none;
  border: 0px;
}
//end form input styiling


.f-actions{
  background-color: $brand-color;
}

.loginn{
  border: none;
  background-color: transparent;
  margin: 10px;
  color: white;
}
.loginn:hover{
  background-color: transparent;
  color: white;
}
.sharedlinks{
  display: inline;
}

.loginlinks{
  display: flex;
  justify-content: space-around;
}
.loginlinks a{
  width: 180px;
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 0px;
  transition: 0.3s
}

.loginlinks a:hover{
border-bottom: 1px solid $brand-color;
text-decoration: none;
}
