

.fa-star-o{
  color: $brand-color;
}

.fa-star{
  color: $brand-color;
}

.fa-arrow-up{
  padding-left: 40px;
  padding-bottom: 5px;
}

.fa-arrow-down{
  padding-left: 40px;
}


.reviewdesc{
  max-widht: 300px;
}

.reviewshow{
  padding: 15px;
  border-bottom: 1px solid lightgrey;
}

.reviewintro{
padding: 10px;
}

.pimage-show{
  background-size: cover;
  height: 300px;
  overflow: hidden;
}

.pshow-wrapper{
  margin-top: 50px;
  background: white;
    box-shadow: 0px 0px 6px -2px rgba(138,138,138,1);

}

.showbuttons{
margin-top: 40px;
}

.show-wrapper{
  background-color: white;
    box-shadow: 0px 5px 6px -2px rgba(138,138,138,1);
  margin-bottom: 50px;
}

