.stripetrough h2 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid black;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.stripetrough h2 span {
    background: #eeeeee;
    padding: 0 10px;
}
