

.fa-star-o{
  color: $brand-color;
}

.fa-star{
  color: $brand-color;
}

.fa-arrow-up{
  padding-left: 40px;
  padding-bottom: 5px;
}

.fa-arrow-down{
  padding-left: 40px;
}


.reviewdesc{
  max-widht: 300px;
}

.reviewshow{
  padding: 15px;
  border-bottom: 1px solid lightgrey;
}

.reviewintro{
  padding: 10px;
}

.pimage-show{
  background-size: fit;
  background-repeat: no-repeat;
  height: 350px;
  width: 50%;

}

.pshow-wrapper{
  margin-top: 50px;
  background: white;
  box-shadow: 0px 0px 6px -2px rgba(138,138,138,1);
  margin-bottom: 50px;
  padding: 20px;


}

.showbuttons{
  margin-top: 40px;
}

.show-wrapper{
  background-color: white;
  box-shadow: 0px 5px 6px -2px rgba(138,138,138,1);
  margin-bottom: 50px;
}

.show-wrapper-new{
  display: flex;
}

.show-wrapper-new p{
  margin-top: 20px;
}

.show-wrapper-new h1{
  margin-bottom: 5px;
}

.show-wrapper-new h2{
  font-weight: lighter;
  margin: 0;
}

.show-wrapper-new h3{
  margin: 5px;
  color: $brand-color;
}

.psname{
  flex: 1;
}

.pimage-show{
  background-size: fit;
  background-repeat: no-repeat;
  height: 350px;
  width: 50%;

}
