.show-wrapper{
  background-color: white;
}

.fa-star-o{
  color: $brand-color;
}

.fa-star{
  color: $brand-color;
}

.reviewdesc{
  max-widht: 300px;
}

.rating-stars{
  padding-right: 50px;
}

.reviewshow{
  padding: 15px;
  border-bottom: 1px solid lightgrey;
}

.reviewintro{
padding: 10px;
}

.show-wrapper{
  padding-top: 10px;
}
