// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "wishlist_products";
@import "layout/index";
@import "components/index";
@import "components/form";
@import "components/productspage";
@import "components/productshow";
@import "pages/index";
@import "vendor/index";
@import "reviews";
@import "profile/users";

// Custom
body{
  background-color: #F7F9FA;
}

.website-container{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.no-gutter{
  padding-left: 0px;
  padding-right: 0px;
}

.website-container{
  // flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
