// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "wishlist_products";
@import "layout/index";
@import "components/index";
@import "components/form";
@import "components/productspage";
@import "components/productshow";
@import "pages/index";
@import "vendor/index";
@import "reviews";
@import "profile/users";

// Custom
.website-container{
  flex: 1;
  margin-bottom: 165px;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #F7F9FA;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.no-gutter{
  padding-left: 0px;
  padding-right: 0px;
}
