// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "components/loginform";
@import "components/productspage";
@import "components/productshow";
@import "pages/index";
@import "vendor/index";
@import "reviews";

// Fonts
h3{
  font-family: $subheader-font;
  font-size: 18px;
}

body{
  background-color: #eeeeee;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.website-container{
  flex: 1;
}
