<div class="text-center"><h1>Your Wishlists</h1>
  <p>Go to a product and click 'add to wishlist'</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="wishlist-wrapper">

        <% @wishlists.each do |wishlist| %>
        <h3><%= wishlist.name %></h3> <i class="fa fa-times"></i> <i class="fa fa-pencil"></i>
        <% wishlist.products.each do |wishlist_product| %>
        <div class="wishlist-content">
        <p><%= wishlist_product.name %></p>
          <%= cl_image_tag wishlist_product.photo.url(:wishlist) %>
        </div>
        <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
