<div class="modal fade" id="addToWishlist" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Add product to Wishlist
                </h4>
            </div>

            <div class="modal-body">

        <% if user_signed_in? %>
        <div id="add-to-wishlist">
          <%= simple_form_for [@product, @wishlist_product] do |f| %>
          <% if @wishlists.any? %>
          <%= f.association :wishlist, collection: @wishlists %>
          <% end %>

          <p>add a new wishlist</p>
          <%= text_field_tag :new_wishlist_name %>
          <br><br>

          <%= f.submit "add to wishlist", class: "btn btn-primary" %>
          <% end %>
        </div>
        <% end %>


            </div>


        </div>
    </div>
</div>
