<div class="container">
  <div class="row">
    <% @products.each do |p| %>
    <div class="products-wrapper col-xs-12 col-sm-3">
      <div class="pimage">
        <%= image_tag "http://unsplash.it/200/200" %>
      </div>
      <div class="pname">
        <%= p.name %>
      </div>
      <div class="pdescription">
        <%= p.description %>
      </div>
      <div class="pbrand">
        <%= p.brand %>
      </div>
    </div>
    <% end %>
  </div>
</div>
