<div class="reviewshow">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
      <h3>  <%= review.user.name %> </h3>
        <div class="reviewdesc"> <%= review.description %>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">

        <div class="rating-stars">
          <% review.rating.times do %>
          <span> <i class="fa fa-star"></i></span>
          <% end %>
          <% (5 - review.rating).times do %>
          <span> <i class="fa fa-star-o"></i></span>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>






