<div class="reviewshow">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">


       <div class="photoreview">
        <div class="rphoto">
         <% if current_user.photo.present? %>
         <%= image_tag current_user.photo.url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

         <% else %>
         <%= image_tag "noavatar.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
         <% end %>
       </div>
       <div class="namedescription">
         <h3>  <%= review.user.name %> </h3>


         <div class="reviewdesc"> <%= truncate(review.description, length: 55) %>
         </div>
       </div>
     </div>


   </div>

   <div class="col-xs-12 col-md-6">

    <div class="rating-stars">
      <% review.rating.times do %>
      <span> <i class="fa fa-star"></i></span>
      <% end %>
      <% (5 - review.rating).times do %>
      <span> <i class="fa fa-star-o"></i></span>
      <% end %>
    </div>

  </div>
</div>
</div>
</div>






